/** Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}


/** Custom Property*/
:root {
    /* Colors */
    --cs-green: #28a745;
    --cs-red: #e63026;
    --cs-grey: #c3a9a8;
    /* Dimension */
    --cells-x-row: 10;
}

/** Generics */
body {
    background-color: crimson;
}
h1 {
    font-size: 20px;
    letter-spacing: 4px;
}
h2 {
    color: white;
    font-size: 125px;
    padding-top: 60px;
}
p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 8px black;
}
button {
    width: 120px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;

    cursor: pointer;
}
select {
    margin-right: 20px;
    padding-left: 10px;
    height: 50px;
    border-radius: 5px;
}


/** Utils */
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.d-none {
    display: none;
}
.cell.clicked {
    background-color: var(--cs-green);
}
.cell.bomb {
    background-color: var(--cs-red);
}


/** Header */
header {
    height: 120px;
    background-color: white;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#game-title {
    display: flex;
    justify-content: left;
    align-items: center;
}
header img {
    width: 100px;
    padding-bottom: 25px;
}


/** Grid */
#grid {
    margin: 50px auto 25px;
    width: 720px;
    height: 720px;

    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: calc(100% / var(--cells-x-row));
    height: calc(100% / var(--cells-x-row));
    background-color: var(--cs-grey);
    border: 1px solid white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}